{
  "akahu_user_token": "user_token",
  "akahu_app_token": "app_token",
  "spreadsheet_id": "id",
  "source": "akahu_bnz",
  "lookback_days": 14,
  "transactions_tab": "Transactions",
  "category_map_tab": "CategoryMap",
  "perform_reconciliation": true,
  "ignore_rules": [
    {
      "pattern": "INTEREST ADJUSTMENT",
      "field": "description_raw",
      "max_amount": 1
    }
  ],
  "google_service_file": "path_to_json"
}
